.account-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    color: #F9F6F1;
}
  
.merged-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 8px;
    background-color: #F9F6F1;
}

.header-container {
    width: 100%;
    background-color: #457EAC;
    padding: 20px;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    border: black solid 0.1rem;
}

.section1, .section2 {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

#labelName {
    color: #727171;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

.logOutButton {
    background-color: #457EAC;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
    width: 15%;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.logOutButton:hover {
    background-color: #457EAC;
    transform: translateY(-2px);
}

.logOutButton:active {
    transform: translateY(0);
}

.dotted-line {
    border-top: 2px dotted #000;
    margin: 20px 0;
}
