.tree-container {
    background-image: url(public\TreeBackground.png);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }
  
  .tree-node {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
  }

  .node-content{
    position: relative;
    z-index: 1;
  }

  .tree-children {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 40px;
    flex-wrap: nowrap;
  }

  .tree-branch{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .connector-line{
    width: 2px;
    height: 30px;
    background-color: black;
    margin-bottom: 5px;
  }

  .connector-line::after{
    content: '';
    display: block;
    width: 0;
    height: 0;
    margin: auto;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid black;
    margin-top: -3px;
    margin-left: -7px;

  }

  .triangle {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 35px solid gray;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .triangle:hover {
    transform: scale(1.1);
  }
  
  .not-started {
    border-bottom-color: lightgray;
  }
  
  .in-progress {
    border-bottom-color: #b19cd9;
  }
  
  .completed {
    border-bottom-color: #2c3e50;
  }
  
  body{
    background-color: antiquewhite;
  }

  