.links {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.title { 
    display: flex;
    justify-content: center;
}

.loginid {
    display: flex;
    justify-content: center;
}