<<<<<<< HEAD
. html, body {
=======
.body {
>>>>>>> 8c69b35d7f9638f38a09a3b0b07682ee528707f7
    background-color: #2A52BE;
    height: 100%;
    margin: 0;
}

.gradebook {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100vw;
    min-height: 100vh;
    margin-left: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 80%;
    background-color: #030303;
    border: 2px solid #ffffff30;
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;

}

h2 {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 2%;
    font-size: 2rem;
    margin: 0;
}

.total-grade {
    padding-right: 2%;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.assignments {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80%;
    margin-top: 20px;
    background-color: #274960;
}

.assignment {
    display: flex;
    justify-content: space-between;

    padding-left: 3%;
    padding-right: 3%;
    width: 95%;
    /* padding: 10px; */
    border: 1px solid #ccc;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    color: #2D5D7B;
}
